{
    "request": {
        "Create": {
            "governance_id": "${GOBERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "Test",
            "payload": {
                "Json": {
                    "temperature": 10,
                    "location": "${TEST_SUBJECT_LOCATION}"
                }
            }
        }
    }
}