{
    "request": {
        "Create": {
            "governance_id": "${GOVERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "LACP",
            "payload": {
                "Json": {
                    "community_name" : "Edif. Atlántico",
                    "community_address": "Avenida Atlántico",
                    "president_name": "NombrePresi",
                    "president_contact": "ContactoPresi@gmail.com",
                    "secretary_name": "NombreSecretario",
                    "secretary_contact": "ContactoSecretario@gmail.com"
                }
            }
        }
    }
}