{
    "request": {
        "Create": {
            "governance_id": "${GOBERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "LACP",
            "payload": {
                "Json": {
                    "lacp_id": 1,
                    "community_name" : "Edif. Atlántico",
                    "community_address": "Avenida Atlántico",
                    "president_name": "NombrePresi",
                    "president_contact": "ContactoPresi@gmail.com",
                    "admin_name": "NombreaAdmin",
                    "admin_contact": "ContactoAdmin@gmail.com"
                }
            }
        }
    }
}