{
    "request": {
        "Create": {
            "governance_id": "${GOBERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "Record",
            "payload": {
                "Json": {
                    "record_id": 1,
                    "record_name": "Arreglo de ascensor",
                    "record_start_date_time": "10/03/2023::22:00",
                    "record_end_date_time": "10/03/2023::23:00",
                    "record_type": "ORDINARY",
                    "record_place": "Sala de reuniones",
                    "assistants": "Lista de asistentes...",
                    "body": "Acuerdos aprobados",
                    "status": "PENDING",
                    "lacp_id": 1
                }
            }
        }
    }
}