{
    "request": {
        "Create": {
            "governance_id": "${GOBERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "Diligence",
            "payload": {
                "Json": {
                    "diligence_id": 1,
                    "land_registry_property_number": "aaa",
                    "CRU": 12345678901234,
                    "inscription": 10,
                    "expedition_date": "13/03/2023",
                    "registrar_name": "NombreRegis",
                    "registrar_area": "Madrid 14",
                    "observations": "Correcto",
                    "lacp_size": 10000,
                    "lacp_id": 1
                }
            }
        }
    }
}