{
    "request": {
        "Create": {
            "governance_id": "${GOVERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "Record",
            "payload": {
                "Json": {
                    "record_name": "Arreglo de ascensor",
                    "record_start_date_time": "2023-11-20T20:20:00+00:00",
                    "record_end_date_time": "2023-03-20T22:00:00+00:00",
                    "record_type": "ORDINARY",
                    "record_place": "Sala de reuniones",
                    "record_president": "Presidente del acta",
                    "record_secretary": "Secretario del acta",
                    "assistants": "Lista de asistentes...",
                    "body": "Acuerdos aprobados",
                    "status": "PENDING",
                    "lacp_subject_id": "$LACP_SUBJECT_ID"
                }
            }
        }
    }
}