{
    "request": {
        "Create": {
            "governance_id": "${GOBERNANCE_SUBJECT_ID}",
            "namespace": "",
            "schema_id": "Diligence",
            "payload": {
                "Json": {
                        "diligence_id": 1,
                        "expedition_date": "13/03/2023",
                        "lacp_size": 10000,
                        "registrator_name": "NombreRegis",
                        "registrator_address": "DireccionRegis",
                        "lacp_id": 1
                }
            }
        }
    }
}