{
    "request": {
        "State": {
            "subject_id": "${RECORD_ID}",
            "payload": {
                "Json": {
                    "record_id": 1,
                    "record_name": "Arreglo de ascensor",
                    "record_start_date_time": "2023-11-20T20:20:00+00:00",
                    "record_end_date_time": "2023-03-20T22:00:00+00:00",
                    "record_type": "ORDINARY",
                    "record_place": "Sala de reuniones",
                    "assistants": "Lista de asistentes...",
                    "body": "Acuerdos aprobados",
                    "status": "APPROVED",
                    "lacp_id": 1
                }
            }
        }
    }
}