{
    "request": {
        "State": {
            "subject_id": "${RECORD_ID}",
            "payload": {
                "Json": {
                    "record_id": 1,
                    "record_name": "Arreglo de ascensor",
                    "record_date": "10/03/2023",
                    "record_place": "Sala de reuniones",
                    "assistants": "Lista de asistentes...",
                    "abstents": "Lista de ausentes...",
                    "record_content": "Acuerdos aprobados",
                    "lacp_id": 1,
                    "status": "${RECORD_STATUS}"
                }
            }
        }
    }
}