{
    "request": {
        "State": {
            "subject_id": "${TEST_SUBJECT_ID}",
            "payload": {
                "Json": {
                    "temperature": 10,
                    "location": "${TEST_SUBJECT_LOCATION}"
                }
            }
        }
    }
}